# Entornos virtuales
venv/
env/
.env

# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Herramientas de desarrollo y Git
.git/
.gitignore
.vscode/
.idea/

# Bases de datos locales
*.sqlite3
db.sqlite3

# Archivos de logs y tests
*.log
.pytest_cache/
htmlcov/