/.ai
/.ai/*
/base-datos.sql
/database
/database/*

.env

# dev.ps1

# --- IDEs (Opcional pero recomendado) ---
.vscode/

# --- PYTHON ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
build/
dist/

/tmp
/tmp/*